<!-- NAVBAR START -->
<nav class="navbar navbar-expand-lg bg-light rounded">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navcol"
  >
    <span class="navbar-toggler-icon">
      <i class="fas fa-hamburger" style="font-size: 25px; color: #b7d5d4"></i>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navcol">
    <ul class="navbar-nav mr-auto mt-1">
      <li class="nav-item mr-3 mb-1">
        <a class="btn btn-secondary" href="/paja" style="color: black"
          >Paja Jovanović</a
        >
      </li>
      <li class="nav-item mr-3 mb-1">
        <a class="btn btn-secondary" href="/uros" style="color: black"
          >Uroš Predić</a
        >
      </li>
      <li class="nav-item mr-3 mb-1">
        <a class="btn btn-light" href="/stevan" style="color: black"
          >Stevan Aleksić</a
        >
      </li>
      <li class="nav-item mr-3 mb-1">
        <a class="btn btn-secondary" href="/djordje" style="color: black"
          >Djordje Krstić</a
        >
      </li>
    </ul>
    <span class="navbar-text float-right">
      <li class="nav-item btn btn-light"><%= name %></li>
      <li class="nav-item btn btn-danger">
        <a
          href="/users/logout""
          style="color: black"
        >
          <i class="fas fa-sign-out-alt"></i>Izlogujte se</a
        >
      </li>
    </span>
  </div>
</nav>
<!-- NAVBAR END -->
<%- include ('./partials/messages') %>
      <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade show active" id="paja" style="border: 1px white solid;">
                <div class="card mb-3">
                  <h3 class="card-header; text-center">Stevan Aleksić</h3>
                  <div class="card-body">
                    <h5 class="card-title">Jedan od najznačajnijih srpskih slikara sa početka 20. veka</h5>
                    <h6 class="card-subtitle text-muted">Izmedju ostalog se bavio ikonopisanjem i živopisanjem Crkvi po ugledu na svog prijatelja Uroša Predića</h6>
                  </div>
                  <img style="max-height: 475px; max-width: 30%; margin: auto; display: block; border:2px solid black;" class="img img-responsive" src="http://riznicasrpska.net/fotografije/Slikari/Stevan_Aleksic_(1876-1923).png" alt="Stevan Aleksić">
                  <div class="card-body">
                    <p class="card-text; text-center">Stevan Aleksić (Arad, 23. decembar 1876 - Jaša Tomić(Modoš), 2. novembar 1923)</p>
                  </div>
                  <h3 class="card-footer">Neka od najznačajnijih dela: </h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://www.tozlumikrofon.com/wp-content/uploads/2018/05/sirplar.png" target="_blank" style="text-decoration: none;">Spaljivanje moštiju Svetog Save na Vračaru</a></li>
                    <li class="list-group-item"><a href="https://i.pinimg.com/originals/1a/4f/da/1a4fdacd5588ba0de762d83b351dc421.jpg" target="_blank" style="text-decoration: none;">Sveti Georgije ubiva aždahu </a></li>
                    <li class="list-group-item"><a href="https://kultivisise.rs/wp-content/uploads/2017/03/Stevalexangel-1.jpg" target="_blank" style="text-decoration: none;">Andjeo</a></li>
                  </ul>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Kratka biografija: </h4>
                    <p class="card-text">Stevan Aleksić jedan od najznačajnijih srpskih slikara sa početka 20. veka.
                      Poreklom iz slikarske porodice(deda mu je bio Nikola Aleksić, a otac Dušan Aleksić koji su se takodje bavili slikarstvom).
                      Da bi prehranjivao porodicu, prihvatio je posao živopisanja Crkvi. Njegovo najveće po značaju i obimu takvo delo bilo je
                      živopisanje cele unutrašnjosti površine Preobraženske crkve u Pančevu  1908. godine.
                    </p>
                    <a href="https://sr.wikipedia.org/wiki/%D0%A1%D1%82%D0%B5%D0%B2%D0%B0%D0%BD_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B8%D1%9B" target="_blank" class="card-link">Izvor (Wiki) </a>
                  </div>
                </div>
              </div>
              <h2 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;">Galerija:</h2>
              <p class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;">(Klik za pristup slici)</p>
              <div id="demo" class="carousel slide" data-ride="carousel" style="border: 2px white solid; background-color: black;">
      
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                    <li data-target="#demo" data-slide-to="4"></li>
                    <li data-target="#demo" data-slide-to="5"></li>
                    <li data-target="#demo" data-slide-to="6"></li>
                    <li data-target="#demo" data-slide-to="7"></li>
                    <li data-target="#demo" data-slide-to="8"></li>
                  </ul>
                
                  <!-- The slideshow -->
                  <div class="carousel-inner" style="display:block; margin: auto;">
                      <div class="carousel-item active">
                          <a href="/slika/spaljivanjemostijusvetogsavenavracaru"><img src="https://www.tozlumikrofon.com/wp-content/uploads/2018/05/sirplar.png" style="display:block; margin: auto;max-height: 600px;" class="img img-fluid" alt="Spaljivanje mošti Svetog Save na Vračaru">
                      </a><div class="carousel-caption d-md-block" style="background-color:rgba(0, 0, 0, 0.5);">
                            <h5>Spaljivanje mošti Svetog Save na Vračaru</h5>
                            <p>Verujem najpoznatije delo pomenutog slikara</p>
                          </div>
                        </div>
                    <div class="carousel-item">
                      <a href="/slika/svetigeorgijeubivaazdahu"><img src="https://i.pinimg.com/originals/1a/4f/da/1a4fdacd5588ba0de762d83b351dc421.jpg" alt="Sveti Georgije ubiva aždahu" style="display:block; margin:auto;max-height: 600px;" class="img img-fluid" >
                      </a><div class="carousel-caption d-md-block" style="background-color:rgba(0, 0, 0, 0.5);">
                          <h5>Sveti Georgije ubiva aždahu</h5>
                          <p>Po ugledu na Uroša Predića koji ima istoimeno delo ali sa različitim motivima</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/slika/andjeo"><img src="https://kultivisise.rs/wp-content/uploads/2017/03/Stevalexangel-1.jpg" style="display:block; margin: auto;max-height: 600px;" class="img img-fluid" alt="Andjeo">
                        </a><div class="carousel-caption d-md-block" style="background-color:rgba(0, 0, 0, 0.5);">
                          <h5>Andjeo</h5>
                          <p>Kao dokazani ikonopisac, svoju inspiraciju često nalazi u Crkvi</p>
                        </div>
                      </div>
                        <div class="carousel-item">
                            <a href="/slika/autoportretukafani"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/S_Aleksic_autoportret_u_kafani_1901.jpg" style="display:block; margin: auto;max-height: 600px;" class="img img-fluid" alt="Autoportret u kafani">
                            </a><div class="carousel-caption d-md-block" style="background-color:rgba(0, 0, 0, 0.5);">
                              <h5>Autoportret u kafani</h5>
                              <p>Jedan od njegovih unikatnih autoportreta, koji u sebi često nose simbole smrti</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                              <a href="/slika/veselibanacanin"><img src="http://riznicasrpska.net/fotografije/Umetnicke_slike/Stevan_Aleksic_-_Veseli_Banacani.jpg" style="display:block; margin: auto;max-height: 600px;" class="img img-fluid" alt="Veseli Banaćanin">
                              </a><div class="carousel-caption d-md-block" style="background-color:rgba(0, 0, 0, 0.5);">
                                <h5>Veseli Banaćanin</h5>
                                <p>Prikaz kulture Banata, uz vino i rakiju tu se da videti i gospodin koji svira gajde</p>
                              </div>
                            </div>
                            <div class="carousel-item">
                                <a href="/slika/autoportretukafani2"><img src="https://i1.wp.com/www.pancevo.city/wp-content/uploads/2019/07/Slika-1..jpg?w=900&ssl=1" style="display:block; margin: auto;max-height: 600px;" class="img img-fluid" alt="Autoportret u kafani II">
                                </a><div class="carousel-caption d-md-block" style="background-color:rgba(0, 0, 0, 0.5);">
                                  <h5>Autoportret u kafani II</h5>
                                  <p>Drugi autoportret u kafani koji u sebi sadrži simbole smrti</p>
                                </div>
                              </div>
                                <div class="carousel-item">
                                    <a href="/slika/golgota"><img src="https://static.kupindoslike.com/GOLGOTA-1918-rad-Stevana-Aleksica-1876-1923-_slika_O_64727199.jpg" style="display:block; margin: auto;max-height: 600px;" class="img img-fluid" alt="Golgota">
                                    </a><div class="carousel-caption d-md-block" style="background-color:rgba(0, 0, 0, 0.5);">
                                      <h5>Golgota</h5>
                                      <p>Raspeće Isusa Hrista na Golgoti</p>
                                    </div>
                                  </div>
                
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                
                </div>
                </div>
                <h2 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;">Komentari:</h2>
                <% komentari.forEach(function(komentar) { %>
                <div class="card">            
                        <div class="card-title; text-center">
                          <% if (komentar.ocena==5){ %>
                            <h5><b><%= komentar.izbor %> :<i class="fas fa-star" style="color:yellow;"></i><i class="fas fa-star" style="color:yellow;"></i><i class="fas fa-star" style="color:yellow;"></i><i class="fas fa-star" style="color:yellow;"></i><i class="fas fa-star" style="color:yellow;"></i></b></h5>
                          <%} else if(komentar.ocena==4){%>
                            <h5><b><%= komentar.izbor %> :<i class="fas fa-star" style="color: rgba(255, 217, 0, 0.884)"></i><i class="fas fa-star" style="color: rgba(255, 217, 0, 0.884)"></i><i class="fas fa-star" style="color: rgba(255, 217, 0, 0.884)"></i><i class="fas fa-star" style="color: rgba(255, 217, 0, 0.884)"></i></b></h5>
                          <%} else if (komentar.ocena==3){%>
                            <h5><b><%= komentar.izbor %> :<i class="fas fa-star" style="color: rgba(218, 165, 32, 0.842);"></i><i class="fas fa-star" style="color: rgba(218, 165, 32, 0.842);"></i><i class="fas fa-star" style="color: rgba(218, 165, 32, 0.842);"></i></b></h5>
                          <%} else if (komentar.ocena==2){%>
                            <h5><b><%= komentar.izbor %> :<i class="fas fa-star" style="color: rgba(181, 206, 42, 0.596);"></i><i class="fas fa-star" style="color: rgba(181, 206, 42, 0.596);"></i></b></h5>
                          <%} else {%>
                            <h5><b><%= komentar.izbor %> :<i class="fas fa-star" style="color: rgba(153, 205, 50, 0.473);"></i></b></h5>
                          <%}%>
                          
                        </div>
                          <div class="card-body" style="border: 1px solid black; background-color:lightgray;">
                            <h6 style="color: darkcyan;"><%= komentar.ime %> (<%= komentar.email %>) :</h6> <h6 style="color: black;"><%= komentar.sadrzaj %></h6> 
                          </div>
                          <div class="card-footer">
                            <%= komentar.date%>
                          </div>
                        </div>
                        <br>
                      <% });  %>
                              <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header text-center">
                                      <h4 class="modal-title w-100 font-weight-bold">Komentar:</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <form action="/komentar" method="POST">
                                      <div class="form-group">
                                        <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                                          value="<%=email%>">
                                      </div>
                                      <div class="form-group">
                                        <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="ime"
                                          value="<%= name %>">
                                      </div>
                      <div class="form-group">
                        <input type="hidden" name="izbor" value="Stevan Aleksić">
                      </div>
                                      <div class="form-group">
                                        <label for="exampleTextarea">Sadržaj komentara</label>
                                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Unesite vaš komentar"
                                          name="sadrzaj"></textarea>
                                      </div>
                                      <fieldset class="form-group">
                                        <label for="customRange1">Ocena(1-5)</label>
                                        <p style="padding-bottom: 0px;">1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                          &nbsp; &nbsp; &nbsp; 2
                                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                          &nbsp;3
                                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4
                                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5</p>
                                        <input type="range" min="1" max="5" value="5" class="custom-range" id="customRange1" name="ocena">
                                      </fieldset>
                                      <button type="submit" class="btn btn-primary" style="margin:auto; display:block">Pošalji</button>
                                      </fieldset>
                                    </form>
                              
                              
                              
                              
                                  </div>
                              
                                </div>
                              </div>
                              </div>
                              
                              <div class="text-center">
                                <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm"
                                  style="background-color:darkcyan">Dodajte komentar</a>
                              </div>
            
          